.header {
  background: linear-gradient(0deg, rgba(110, 16, 94, 0) 3%, #320029 100%);
  max-width: 1440px;
  padding: 10px 68px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 98px;
  height: 98px;
}

.header__sidenav-toggle-button {
  border: none;
  background-color: transparent;
  background-image: url("../../assets/images/burger.svg");
  width: 40px;
  height: 43px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 850px) {
  .header {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 426px) {
  .header {
    padding: 10px 20px;
  }
}
