.page {
  min-width: 320px;
  max-width: 1440px;
  background-color: rgba(110, 16, 94, 1);
  margin: 0 auto;
  font-family: 'Inter', 'Arial', 'sans-serif';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}




