.videos-card__image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 217px;
  opacity: .7;
}

.videos-card {
  position: relative;
}

.videos-card__play-btn {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  border: unset;
  background-color: transparent;
  background-image: url('../../assets/images/play-btn.svg');
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .2s all ease-in-out;
}

.videos-card__link:hover {
  opacity: .6;
}

.videos-card__list {
  /* autoprefixer grid: autoplace */
  grid-template-rows: auto;
  max-width: 1440px;
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(421px, 1fr));
  grid-gap: 30px 20px;
}

.videos-card__list-item {
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .videos-card__list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 426px) {
  .videos-card__list {
    grid-gap: 20px 0;
  }
}
